$border: 1px solid #efefef;
.layout-main {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  
  .header, .content, .footer {
    flex: 0 1 auto;
    align-self: auto;
    min-width: 0;
  }

  .header {
    order: 1;
    border-bottom: $border;
  }

  .content {
    order: 2;
    flex: 1 1 auto;
  }

  .footer {
    order: 3;
    border-top: $border;
  }

  .header, .footer {
    padding: 1rem 2rem;
  }
}