<div class="container">
    <header>
        <h1>How to Play</h1>
    </header>
    <section>
        <article>
            <h2>Minesweeper: rules and basics</h2>

            <h3>The objective</h3>

            <p>Clear all the squares while avoiding the mines, the sooner you finish the more you score.</p>

            <h3>The board</h3>

            <p>The only board available is the beginner board that has 81 tiles & 10 mines</p>

            <h3>How to play</h3>

            <p>The are three types of squares, empty, with a number or mined.</p>
            <ul>
                <li>Emply: when clicked they clear all the surrounding area as long as the squares are not mined.</li>
                <li>Square with number: these tell the user how many mines are in the surrounding squares.</li>
                <li>Mined: click them and the game is over.</li>
            </ul>
            <p>Mark the mines. If you suspect a square conceals a mine, right-click it. This puts a flag on the
                square.</p>

            <p>Study the patterns. If three squares in a row display 2-3-2, then you know three mines are probably lined
                up
                beside that row. If a square says 8, every surrounding square is mined.</p>

            <p>Explore the unexplored. Not sure where to click next? Try clearing some unexplored territory. You're
                better
                off clicking in the middle of unmarked squares than in an area you suspect is mined.</p>
        </article>
    </section>

</div>