<div class="container">
    <header>
        <h1>How to Play</h1>
    </header>
    <section>
        <article>
            <p>Minesweeper: rules and basics</p>

            <p>The object</p>

            <p>Find the empty squares while avoiding the mines. The faster you clear the board, the better your
                score.</p>

            <p>The board</p>

            <p>Minesweeper has three standard boards to choose from, each progressively more difficult.</p>

            <p>Beginner: 81 tiles, 10 mines</p>

            <p>Intermediate: 256 tiles, 40 mines</p>

            <p>Expert: 480 tiles, 99 mines</p>

            <p>You can also create a custom board by clicking the Game menu, and then clicking Options. Minesweeper
                supports boards of up to 720 squares and 668 mines.</p>

            <p>How to play</p>

            <p>The rules in Minesweeper are simple:</p>

            <p>Uncover a mine, and the game ends.</p>

            <p>Uncover an empty square, and you keep playing.</p>

            <p>Uncover a number, and it tells you how many mines lay hidden in the eight surrounding squares—information
                you use to deduce which nearby squares are safe to click.</p>

            <p>Hints and tips</p>

            <p>Mark the mines. If you suspect a square conceals a mine, right-click it. This puts a flag on the square.
                (If
                you're not sure, right-click again to make it a question mark.)</p>

            <p>Study the patterns. If three squares in a row display 2-3-2, then you know three mines are probably lined
                up
                beside that row. If a square says 8, every surrounding square is mined.</p>

            <p>Explore the unexplored. Not sure where to click next? Try clearing some unexplored territory. You're
                better
                off clicking in the middle of unmarked squares than in an area you suspect is mined.</p>
        </article>
    </section>

</div>